hs_err_pid*.log
nohup.out
scalastyle-output.xml
.idea
*.iml
**/.idea
*/.classpath
*/.project
*/.settings
*/.cache
*/test-output/
*.log
*/*.versionsBackup
target/
*GitIgnored*
*.asc
*.gpg
/bin/

*.class
*.log
*.pyc
sbt/*.jar

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
build/*.jar

# eclipse
.project
.classpath
/.settings/

# Redis
dump.rdb