version: 2.1

commands:

  abort_for_docs:
    steps:
      - run:
          name: Avoid tests for docs
          command: |
            if [[ $CIRCLE_BRANCH == *docs ]]; then
              echo "Identifies as documents PR, no testing required"
              circleci step halt
            fi

  abort_for_noci:
    steps:
      - run:
          name: Ignore CI for specific branches
          command: |
            if [[ $CIRCLE_BRANCH == *noci ]]; then
              echo "Identifies as actively ignoring CI, no testing required."
              circleci step halt
            fi

  early_return_for_forked_pull_requests:
    description: >-
      If this build is from a fork, stop executing the current job and return success.
      This is useful to avoid steps that will fail due to missing credentials.
    steps:
      - run:
          name: Early return if this build is from a forked PR
          command: |
            if [ -n "$CIRCLE_PR_NUMBER" ]; then
              echo "Nothing to do for forked PRs, so marking this step successful"
              circleci step halt
            fi

jobs:

  build:
    docker:
      - image: circleci/openjdk:8-jdk

    environment:
      JVM_OPTS: -Xmx3200m
      TERM: dumb

    steps:
      - abort_for_docs
      - abort_for_noci
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
            - spark-redis-{{ checksum "pom.xml" }}

      - run: mvn dependency:go-offline

      - run:
          name: install Redis
          command: |
            sudo apt-get -y update
            sudo apt-get install -y gcc-8 g++-8 libssl-dev
            wget http://download.redis.io/releases/redis-6.0.10.tar.gz
            tar -xzvf redis-6.0.10.tar.gz
            make -C redis-6.0.10 -j`nproc` BUILD_TLS=yes
            export PATH=$PWD/redis-6.0.10/src:$PATH

      - run:
          name: Run Test
          command: |
            export PATH=$PWD/redis-6.0.10/src:$PATH
            make test

      - run:
          name: gracefully kill redis
          command: |
            sleep 5s # let redis exit gracefully (we use kill, not kill -9 in makefile)
            ps aux | grep redis

      - run:
          name: Run Test with scala 2.12
          command: |
            export PATH=$PWD/redis-6.0.10/src:$PATH
            make test

      - save_cache:
          paths:
            - ~/.m2
          key: spark-redis-{{ checksum "pom.xml" }}

      - early_return_for_forked_pull_requests

      - run: bash <(curl -s https://raw.githubusercontent.com/codecov/codecov-bash/master/codecov) -t ${CODECOV_TOKEN}

  build-and-publish:
    docker:
      - image: circleci/openjdk:8-jdk

    environment:
      JVM_OPTS: -Xmx3200m
      TERM: dumb

    steps:
      - abort_for_docs
      - abort_for_noci
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
            - spark-redis-{{ checksum "pom.xml" }}

      - run: mvn dependency:go-offline

      - run:
          name: install Redis
          command: |
            sudo apt-get -y update
            sudo apt-get install -y gcc-8 g++-8 libssl-dev
            wget http://download.redis.io/releases/redis-6.0.10.tar.gz
            tar -xzvf redis-6.0.10.tar.gz
            make -C redis-6.0.10 -j`nproc` BUILD_TLS=yes
            export PATH=$PWD/redis-6.0.10/src:$PATH

      - run:
          name: Run Test
          command: |
            export PATH=$PWD/redis-6.0.10/src:$PATH
            make test

      - run:
          name: gracefully kill redis
          command: |
            sleep 5s # let redis exit gracefully (we use kill, not kill -9 in makefile)
            ps aux | grep redis

      - run:
          name: Run Test with scala 2.12
          command: |
            export PATH=$PWD/redis-6.0.10/src:$PATH
            make test

      - save_cache:
          paths:
            - ~/.m2
          key: spark-redis-{{ checksum "pom.xml" }}

      - early_return_for_forked_pull_requests

      - run: bash <(curl -s https://raw.githubusercontent.com/codecov/codecov-bash/master/codecov) -t ${CODECOV_TOKEN}

      - run: mvn -s .circleci.settings.xml -DskipTests deploy

on-master: &on-master
  filters:
    branches:
      only: master
    tags:
      ignore: /.*/

not-on-master: &not-on-master
  filters:
    branches:
      ignore: master
    tags:
      ignore: /.*/

workflows:
  commit:
    jobs:
      - build:
          <<: *not-on-master
          context:
            - common
      - build-and-publish:
          <<: *on-master
          context:
            - common

